body {
    min-height: 75rem;
    padding-top: 4.5rem;
    padding-left: 10px;
}
label {
    width: 180px;
    clear: left;
    text-align: left;
}
input, label {
    float: left;
}

#item-status {
    margin-bottom: 10px;
}